.wrapper {
    display: grid;
    grid-template-areas: "div1 div2 div3 div4";
    height: 446px;
    width: 100%;
}

.div1 {
    background-image: url(./../assets/desktop/image-gallery-milkbottles.jpg);
    background-size: 100% 100%;
    grid-area: div1;
}

.div2 {
    background-image: url(./../assets/desktop/image-gallery-orange.jpg);
    background-size: 100% 100%;
    grid-area: div2;
}

.div3 {
    background-image: url(./../assets/desktop/image-gallery-cone.jpg);
    background-size: 100% 100%;
    grid-area: div3;
}

.div4 {
    background-image: url(./../assets/desktop/image-gallery-sugarcubes.jpg);
    background-size: 100% 100%;
    grid-area: div4;
}

@media (max-width: 1000px) {
    .wrapper {
        grid-template-areas: "div1 div2" "div3 div4";
    }
}

@media (max-width: 750px) {
    .div1 {
        background-image: url(./../assets/mobile/image-gallery-milkbottles.jpg);
    }

    .div2 {
        background-image: url(./../assets/mobile/image-gallery-orange.jpg);
    }

    .div3 {
        background-image: url(./../assets/mobile/image-gallery-cone.jpg);
    }

    .div4 {
        background-image: url(./../assets/mobile/image-gallery-sugar-cubes.jpg);
    }
}